@model PaginatedList<SharedHeadacheViewModel>
@{
    ViewData["Title"] = "Shared headaches";
    ViewData["PartialViewController"] = "Patients";
    ViewData["PartialViewAction"] = "Headaches";
    ViewData["itemsType"] = "Главоболия";

    int headacheCounter = 1;
    string currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<section>
    @if (Model.Count > 0)
    {
        <h3 class="text-center">Регистрирани главоболия</h3>
        <partial name="_PageItemsOrderingNavigation" view-data="ViewData" />
        <div class="container mt-4">
            <div class="row">
                @foreach (var headache in Model)
                {
                    <h4 class="text-center article-title">Главоболие № @(headacheCounter * Model.CurrentPageIndex)</h4>
                    <hr />
                    <p>
                        Начало на главоболието: @headache.Onset.TimeOfDay.ToString().Substring(0, 5) ч. на
                        @headache.Onset.ToShortDateString()
                    </p>
                    <p>
                        Край на главоболието: @headache.EndTime.TimeOfDay.ToString().Substring(0, 5) ч. на
                        @headache.EndTime.ToShortDateString()
                    </p>
                    <p>Продължителност на главоболието: @headache.DurationDays @(headache.DurationDays == 1 ? "ден" : "дни"), @headache.DurationHours @(headache.DurationHours == 1 ? "час" : "часа") и @headache.DurationMinutes минути</p>
                    <p>Сила на болката (0-10): @headache.Severity</p>
                    <p>Локализация на болката: @headache.LocalizationSide</p>
                    <p>Характеристика на болката: @headache.PainCharacteristics</p>
                    <p>Фотофобия: @(headache.Photophoby == true ? "да" : "не")</p>
                    <p>Фонофобия: @(headache.Phonophoby == true ? "да" : "не")</p>
                    <p>Гадене: @(headache.Nausea == true ? "да" : "не")</p>
                    <p>Повръщане: @(headache.Vomiting == true ? "да" : "не")</p>
                    <p>Наличие на аура: @(headache.Vomiting == true ? "да" : "не")</p>
                    @if (headache.Aura == true)
                    {
                        <p>Описание на аурата: @(headache.AuraDescriptionNotes != null ? headache.AuraDescriptionNotes : "липсва oписание") </p>
                    }
                    <p>Провокиращи главоболието фактори: @(headache.Triggers != null ? headache.Triggers : "липсват данни")</p>
                    @if (headache.UsedMedications.Count() == 0)
                    {
                        <p>Употребени медикаменти: липсват данни</p>
                    }
                    else
                    {
                        <p>Употребени медикаменти:</p>
                        <ul style="margin-left: 50px">
                            @for (int i = 0; i < headache.UsedMedications.Count(); i++)
                            {
                                var medication = @headache.UsedMedications.ElementAt(i);
                                <li>@medication.Name @medication.SinglePillDosage @medication.Units - приета доза @($"{@medication.DosageTaken:F2}") @medication.Units</li>
                            }
                        </ul>
                    }
                    headacheCounter++;
                }
            </div>
        </div>
    }
    else
    {
        <div>
            <p>Изглежда все още нямате регистрирани главоболия. Защо не регистрирате първото си главоболие от <a asp-controller="Headache" asp-action="Add" asp-route-id=@currentUserId>тук</a>?</p>
        </div>
    }
</section>
<hr />
<partial name="_PagesNavigation" view-data="ViewData" />